<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net46" requireReinstallation="true" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="Fluent.Ribbon" version="6.0.0-dev0171" targetFramework="net46" requireReinstallation="true" />
</packages>